<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li> <a href="{% url 'patient_home' %}">Home</a></li>
        <li> <a href="{% url 'update_patient_profile' %}">Profile</a></li>
        <li> <a href="{% url 'appointment' %}">Make Appointments</a></li>
        <li> <a href="{% url 'patient_view_appointments' %}">View Appointments</a></li>
        <li> <a href="{% url 'patient_view_bill' %}">View Bill</a></li>
        <li> <a href="{% url 'signout' %}">Logout</a></li>
    </ul>
</div>