{% extends 'base.html' %}
{% block title %}Mediplus hospital{% endblock %}
{% block header %}
{% endblock %}
{% load static %}

{% block content %}
	  <section class="hero-wrap js-fullheight" style="background-image: url('{% static 'management/images/bg_3.jpg' %}');" data-section="home" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-6 pt-5 ftco-animate">
          	<div class="mt-5">
          		<span class="subheading">Welcome to Mediplus</span>
	            <h1 class="mb-4">We are here <br>for your Care</h1>
	            <p class="mb-4">You're seeking routine check-ups, specialized treatments, or expert medical advice, we're here to support you every step of the way.</p>

	            <p>
					{% if user.is_authenticated %}
						{% if user.userprofile.user_type == 'Patient' %}
				    		{% if user.userprofile.status %}
				  				<a class="btn btn-primary py-3 px-4" href="{% url 'appointment' %}">Make an appointment</a>
				        	{% else %}
				  				<a class="btn btn-primary py-3 px-4" href="{% url 'user_wait_approval' %}">Make an appointment</a>
				        	{% endif %}
				     	{% endif %}
				  	{% else %}
				     	<a class="btn btn-primary py-3 px-4" href="{% url 'signin' %}">Make an appointment</a>
				  	{% endif %}
				</p>
            </div>
          </div>
        </div>
      </div>
    </section>

		<section class="ftco-counter img ftco-section ftco-no-pt ftco-no-pb" id="about-section">
    	<div class="container">
    		<div class="row d-flex">
    			<div class="col-md-6 col-lg-5 d-flex">
    				<div class="img d-flex align-self-stretch align-items-center" style="background-image:url('{% static 'management/images/about.jpg' %}');">
    				</div>
    			</div>
    			<div class="col-md-6 col-lg-7 pl-lg-5 py-md-5">
    				<div class="py-md-5">
	    				<div class="row justify-content-start pb-3">
			          <div class="col-md-12 heading-section ftco-animate p-4 p-lg-5">
			            <h2 class="mb-4">We Are <span>Mediplus</span> A Medical Clinic</h2>
			            <p class="text-justify">We are dedicated to providing exceptional healthcare services to our patients. Our team of experienced professionals is committed to delivering personalized care and ensuring your well-being. Whether you require routine check-ups, specialized treatments, or expert medical advice, we are here to assist you every step of the way.</p>
			            <p>
							{% if user.is_authenticated %}
				  	        	{% if user.userprofile.user_type == 'Patient' %}
				    				{% if user.userprofile.status %}
				  						<a class="btn btn-primary py-3 px-4" href="{% url 'appointment' %}">Make an appointment</a>
				        			{% else %}
				  						<a class="btn btn-primary py-3 px-4" href="{% url 'user_wait_approval' %}">Make an appointment</a>
				        			{% endif %}
				     			{% endif %}
				  			{% else %}
				     			<a class="btn btn-primary py-3 px-4" href="{% url 'signin' %}">Make an appointment</a>
				  			{% endif %}
							<a href="#" class="btn btn-secondary py-3 px-4">Contact us</a>
						</p>
			          </div>
			        </div>
		        </div>
	        </div>
        </div>
    	</div>
    </section>


		<section class="ftco-section ftco-no-pt ftco-no-pb ftco-services-2 bg-light">
			<div class="container">

	        <div class="col-md-7 py-5">
	        	<div class="py-lg-5">
		        	<div class="row justify-content-center pb-5">
			          <div class="col-md-12 heading-section ftco-animate">
			            <h2 class="mb-3">Our Services</h2>
			          </div>
			        </div>
			        <div class="row">
			        	<div class="col-md-6 d-flex align-self-stretch ftco-animate">
			            <div class="media block-6 services d-flex">
			              <div class="icon justify-content-center align-items-center d-flex"><span class="flaticon-ambulance"></span></div>
			              <div class="media-body pl-md-4">
			                <h3 class="heading mb-3">Emergency Services</h3>
			                <p>Our emergency services are available 24/7 to provide immediate medical assistance when you need it the most.</p>
			              </div>
			            </div>
			          </div>
			          <div class="col-md-6 d-flex align-self-stretch ftco-animate">
			            <div class="media block-6 services d-flex">
			              <div class="icon justify-content-center align-items-center d-flex"><span class="flaticon-doctor"></span></div>
			              <div class="media-body pl-md-4">
			                <h3 class="heading mb-3">Qualified Doctors</h3>
			                <p>Our team of highly qualified doctors is dedicated to providing exceptional medical care to our patients.</p>
			              </div>
			            </div>
			          </div>
			          <div class="col-md-6 d-flex align-self-stretch ftco-animate">
			            <div class="media block-6 services d-flex">
			              <div class="icon justify-content-center align-items-center d-flex"><span class="flaticon-stethoscope"></span></div>
			              <div class="media-body pl-md-4">
			                <h3 class="heading mb-3">Outdoors Checkup</h3>
			                <p>Our outdoors checkup services offer the convenience of receiving medical care in the comfort of your own surroundings.</p>
			              </div>
			            </div>
			          </div>
			          <div class="col-md-6 d-flex align-self-stretch ftco-animate">
			            <div class="media block-6 services d-flex">
			              <div class="icon justify-content-center align-items-center d-flex"><span class="flaticon-24-hours"></span></div>
			              <div class="media-body pl-md-4">
			                <h3 class="heading mb-3">24 Hours Service</h3>
			                <p>Our 24-hour service ensures that you can access medical care anytime, day or night.</p>
			              </div>
			            </div>
			          </div>
			        </div>
			      </div>
		      </div>

	        </div>
		    </div>
			</div>
		</section>

    <section class="ftco-intro img mb-2" style="background-image: url({% static 'management/images/bg_2.jpg' %});">
			<div class="overlay"></div>
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-9 text-center">
						<h2>Your Health is Our Priority</h2>
						<p>We prioritize your health and well-being above all else. Our dedicated team of healthcare professionals is committed to providing you with the highest quality medical care and support.</p>
						<p class="mb-0"><a href="#" class="btn btn-white px-4 py-3">Search Places</a></p>
					</div>
				</div>
			</div>
		</section>

		<section class="ftco-section ftco-no-pt ftco-no-pb" id="department-section">
    	<div class="container-fluid px-0">
    		<div class="row no-gutters">
    			<div class="col-md-4 d-flex">
    				<div class="img img-dept align-self-stretch" style="background-image: url({% static 'management/images/dept-1.jpg' %}
);"></div>
    			</div>

    			<div class="col-md-8">
    				<div class="row no-gutters">
						{% for department in departments %}
    					<div class="col-md-4">
    						<div class="department-wrap p-4 ftco-animate">
    							<div class="text p-2 text-center">
    								<div class="icon">
    									<span class="flaticon-stethoscope"></span>
    								</div>
    								<h3><a href="#">{{ department.department }}</a></h3>
    								<p>{{ department.description }}</p>
    							</div>
    						</div>

    					</div>
						{% endfor %}
    				</div>
    			</div>
    		</div>
    	</div>
    </section>

    <section class="ftco-section" id="doctor-section">
		<div class="container-fluid px-5">
			<div class="row justify-content-center mb-5 pb-2">
				<div class="col-md-8 text-center heading-section ftco-animate">
					<h2 class="mb-4">Our Qualified Doctors</h2>
					<p>Our team of qualified doctors is dedicated to providing exceptional medical care. They are committed to ensuring your well-being and delivering personalized treatment plans tailored to your needs.</p>
				</div>
			</div>
			<div class="row">
				{% for doctor in doctors %}
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="staff">
						<div class="img-wrap d-flex align-items-stretch">

								<img class="img align-self-stretch" src="{{ doctor.image}}" alt="Doctor Image">

						</div>
						<div class="text pt-3 text-center">
							<h3 class="mb-2">{{doctor.firstname}} {{doctor.lastname}}</h3>
							<span class="position mb-2">{{doctor.specialization}}</span>
							<div class="faded">
								<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
								<ul class="ftco-social text-center">
									<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
									<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
									<li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
									<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
				  				</ul>
								<p>
								{% if user.is_authenticated %}
									{% if user.userprofile.user_type == 'Patient' %}
				    					{% if user.userprofile.status %}
				  							<a class="btn btn-primary" href="{% url 'appointment' %}">Book now</a>
										{% else %}
				  							<a class="btn btn-primary" href="{% url 'user_wait_approval' %}">Book now</a>
				        				{% endif %}
				     				{% endif %}
				  				{% else %}
				     				<a class="btn btn-primary" href="{% url 'signin' %}">Book now</a>
				  				{% endif %}
								</p>
							</div>
						</div>
					</div>
				</div>
				{%endfor%}
			</div>
		</div>
	</section>



    <section class="ftco-section contact-section" id="contact-section">
      <div class="container">
      	<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <h2 class="mb-4">Contact Us</h2>
            <p>If you have any questions or inquiries, feel free to reach out to us. We're here to assist you every step of the way.</p>
          </div>
        </div>
        <div class="row d-flex contact-info mb-5">
          <div class="col-md-6 col-lg-3 d-flex ftco-animate">
          	<div class="align-self-stretch box p-4 text-center bg-light">
          		<div class="icon d-flex align-items-center justify-content-center">
          			<span class="icon-map-signs"></span>
          		</div>
          		<h3 class="mb-4">Address</h3>
	            <p>198 West 21th Street, Suite 721 New York NY 10016</p>
	          </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex ftco-animate">
          	<div class="align-self-stretch box p-4 text-center bg-light">
          		<div class="icon d-flex align-items-center justify-content-center">
          			<span class="icon-phone2"></span>
          		</div>
          		<h3 class="mb-4">Contact Number</h3>
	            <p><a href="#">+ 0000 0000 00</a></p>
	          </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex ftco-animate">
          	<div class="align-self-stretch box p-4 text-center bg-light">
          		<div class="icon d-flex align-items-center justify-content-center">
          			<span class="icon-paper-plane"></span>
          		</div>
          		<h3 class="mb-4">Email Address</h3>
	            <p><a href="#">mediplus@email.com</a></p>
	          </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex ftco-animate">
          	<div class="align-self-stretch box p-4 text-center bg-light">
          		<div class="icon d-flex align-items-center justify-content-center">
          			<span class="icon-globe"></span>
          		</div>
          		<h3 class="mb-4">Website</h3>
	            <p><a href="#">mediplus.com</a></p>
	          </div>
          </div>
        </div>


      </div>
    </section>
{% endblock %}



